@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .display {
        &-1 {
            line-height: 80px;
            font-family: theme("fontFamily.sans");
            font-size: theme("fontSize.6xl");
            font-weight: theme("fontWeight.normal");

            &-s {
                line-height: 80px;

                font-size: theme("fontSize.6xl");
                font-weight: theme("fontWeight.semibold");
            }

            &-b {
                line-height: 80px;

                font-size: theme("fontSize.6xl");
                font-weight: theme("fontWeight.bold");
            }
        }

        &-2 {
            line-height: 72px;

            font-size: theme("fontSize.5xl");
            font-weight: theme("fontWeight.normal");

            &-s {
                line-height: 72px;

                font-size: theme("fontSize.5xl");
                font-weight: theme("fontWeight.semibold");
            }

            &-b {
                line-height: 72px;

                font-size: theme("fontSize.5xl");
                font-weight: theme("fontWeight.bold");
            }
        }
    }

    .heading {
        &-1 {
            line-height: 41.98px;
            font-weight: 600;
            font-size: theme("fontSize.2xl");

            &-sm {
                line-height: 41.98px;
                font-weight: 500;
                font-size: theme("fontSize.2xl");
            }
        }

        &-2 {
            line-height: 31.49px;
            font-weight: 500;
            font-size: theme("fontSize.lg2");

            &-sm {
                line-height: 31.49px;
                font-weight: 400;
                font-size: theme("fontSize.lg2");
            }
        }

        &-3 {
            line-height: 21.49px;
            font-weight: 600;
            font-size: theme("fontSize.base");
        }
    }

    .subheading {
        line-height: "28px";

        font-size: theme("fontSize.lg");
        font-weight: 500;

        &-s {
            line-height: "28px";

            font-size: theme("fontSize.lg");
            font-weight: 400;
        }
    }

    .paragraph {
        &-1 {
            line-height: 25px;
            font-weight: 500;
            font-size: theme("fontSize.base");

            &-s {
                line-height: 25px;
                font-weight: 400;
                font-size: theme("fontSize.base");
            }
        }

        &-2 {
            line-height: 24px;

            font-size: theme("fontSize.base");
            font-weight: theme("fontWeight.normal");

            &-s {
                line-height: 24px;

                font-size: theme("fontSize.base");
                font-weight: theme("fontWeight.semibold");
            }
        }

        &-3 {
            line-height: 26px;
            font-size: theme("fontSize.xl");
            font-weight: theme("fontWeight.normal");

            &-s {
                line-height: 26px;
                font-size: theme("fontSize.xl");
                font-weight: theme("fontWeight.semibold");
            }
        }

        &-4 {
            line-height: 21px;
            font-size: theme("fontSize.sm");
            font-weight: theme("fontWeight.normal");

            &-s {
                line-height: 21px;
                font-size: theme("fontSize.sm");
                font-weight: theme("fontWeight.semibold");
            }
        }
    }

    .caption {
        line-height: "18px";
        font-size: theme("fontSize.xs");
        font-weight: theme("fontWeight.normal");

        &-s {
            line-height: "18px";
            font-size: theme("fontSize.xs");
            font-weight: theme("fontWeight.semibold");
        }
    }

    .footer {
        line-height: 14px;
        font-size: theme("fontSize.xs");
        font-weight: theme("fontWeight.normal");

        &-s {
            line-height: 14px;
            font-size: theme("fontSize.xs");
            font-weight: theme("fontWeight.semibold");

            &-sm {
                line-height: 14px;
                font-size: theme("fontSize.sm");
                font-weight: theme("fontWeight.semibold");
            }

            &-sm-1 {
                line-height: 14px;
                font-size: theme("fontSize.xs");
                font-weight: theme("fontWeight.semibold");
            }
        }
    }
}
